.jumbotron {
    min-height: 300px;
    margin-top:20px;
    background-image: url("../images/Chicago-Illinois-buildings-houses-railroad-train_1920x1200.jpg");
    background-size: cover;
    /* background-size: auto 100%;  fits the height but maybe not the width */
    /* background-size: 100% 100%; */ /* height and width but not the aspect ration */
    /* background-size: auto; */
    background-position: center center;
    /* background-position: center top; */
    /* background-position: center bottom; */
    /* color: darkgoldenrod; */
    color: lightgray;
}

.stencil-font {
    font-family: 'Allerta Stencil', sans-serif;
}

.bigger-font{
    font-size: 1.25rem;
}
